<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 com desktop4 desktop5 rescap">

  <Identity
    Name="PiCompanion.Development"
    Publisher="CN=Pi Companion Development"
    Version="0.4.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Pi Companion</DisplayName>
    <PublisherDisplayName>Pi Companion Development</PublisherDisplayName>
    <Description>Explorer-first local AI agent</Description>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.22000.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN" />
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application
      Id="PiCompanion"
      Executable="PiCompanion.Desktop.exe"
      uap10:RuntimeBehavior="win32App"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="Pi Companion"
        Description="Explorer-first local AI agent"
        BackgroundColor="#101010"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png" />

      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Pi Companion Explorer commands">
              <com:Class
                Id="A7C1F4C2-1C6E-4F57-9B8F-37A2C09D6E11"
                Path="PiCompanion.ExplorerCommand.dll"
                ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb
                Id="PiCompanionAskAgentFile"
                Clsid="A7C1F4C2-1C6E-4F57-9B8F-37A2C09D6E11" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb
                Id="PiCompanionAskAgentDirectory"
                Clsid="A7C1F4C2-1C6E-4F57-9B8F-37A2C09D6E11" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb
                Id="PiCompanionAskAgentBackground"
                Clsid="A7C1F4C2-1C6E-4F57-9B8F-37A2C09D6E11" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>
</Package>
